<footer>
    <div class="container py-5">
        <h4>Get the FreshCart app</h4>
        <p class="text-secondary">We will send you a link,open it on your phone to download the app.</p>
        <div class="row ps-4 ">
            <div class="col-md-10">
                <input type="email" class="form-control  " placeholder="Email ...">
            </div>
            <div class="col-md-2">
                <app-main-btn>
                    Share App Link
                </app-main-btn>
            </div>
        </div>
        <div
            class="payment-ifo border-top border-bottom border-1 my-4 py-4 border-secondary border-opacity-25 d-flex justify-content-between ">
            <div class="payment">
                <span class="fs-6 fw-semibold me-2">Payment Partners</span>
                <img src="assets/images/amazon logo.png" alt="">
                <img src="assets/images/american-express.png" alt="">
                <img src="assets/images/Mastercard_Logo_1990-2048x1223.png" alt="">
                <img src="assets/images/PayPal_horizontally_Logo_2014.png" alt="">
            </div>
            <div class="download-info ">
                <span class="fs-6 fw-semibold me-2">Get deliveries with FreshCart</span>
                <img src="../../../assets/images/App-Store-Button_resize.png" alt="">
                <img src="../../../assets/images/Google-Play-Button_resize.png" alt="">
            </div>
        </div>
    </div>
</footer>