footer {
    background-color: #EBEBEB;
}

.pay-logos {
    width: 60px;
    display: inline-block;
    margin-inline: 7px;
}

.payment img {
    width: 100%;
}

.apps {
    width: 120px;
    display: inline-block;
}

.download-info img {
    width: 100%;
}