<footer>
    <div class="container py-5">
        <h4>{{"footer.title"|translate}}</h4>
        <p class="text-secondary">{{"footer.p"|translate}}</p>
        <div class="row ps-4 ">
            <div class="col-md-10">
                <input type="email" class="form-control  " placeholder="Email ...">
            </div>
            <div class="col-md-2">
                <app-main-btn>
                    {{"footer.btn"|translate}}
                </app-main-btn>
            </div>
        </div>
        <div
            class="payment-ifo border-top border-bottom border-1 my-4 py-4 border-secondary border-opacity-25 d-flex justify-content-between ">
            <div class="payment">
                <span class="fs-6 fw-semibold me-2">{{"footer.pay"|translate}}</span>
                <div class="pay-logos">
                    <img src="assets/images/amazon logo.png" alt="">
                </div>
                <div class="pay-logos">
                    <img src="assets/images/american-express.png" alt="">
                </div>
                <div class="pay-logos">
                    <img src="assets/images/Mastercard_Logo_1990-2048x1223.png" alt="">
                </div>
                <div class="pay-logos">
                    <img src="assets/images/PayPal_horizontally_Logo_2014.png" alt="">
                </div>

            </div>
            <div class="download-info ">
                <span class="fs-6 fw-semibold me-2">Get deliveries with FreshCart</span>
                <div class="apps">
                    <img src="assets/images/App-Store-Button_resize.png" alt="">
                </div>
                <div class="apps">
                    <img src="assets/images/Google-Play-Button_resize.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>